html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
div {
  box-sizing: border-box;
}
.el-badge__content.is-fixed {
  top: 17px;
  right: 27px;
}

.el-popover {
  padding: 0;
}

.el-main {
  padding-top: 0;
  padding-bottom: 0;
}

.tab-box .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border-bottom-color: #f2f2f2;
}

.tab-box .el-tabs--card > .el-tabs__header .el-tabs__nav {
  border: none;
}

.tab-box .el-tabs__header {
  margin: 0;
}

.tab-box .el-tabs__item:hover {
  color: #777;
  background: #f2f2f2;
}

.tab-box .el-tabs__item.is-active {
  color: #a7b1c2;
  background-color: #2f4050;
}

.tab-box .el-tabs__item.is-active:hover {
  color: #fff;
}

.tab-box .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border-bottom-color: #2f4050;
}

.tab-box .el-tabs__item {
  color: #999;
}

.tab-box .el-tabs__nav .el-tabs__item:nth-child(1) span {
  display: none;
}

.tab-box .el-submenu__title i {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
}

.wrap .el-card__header {
  padding: 10px;
}

.el-aside .el-scrollbar__wrap {
  overflow-x: hidden;
}

/* .vxe-table .vxe-cell {
  text-align: center;
} */

.el-input__inner {
  padding-right: 15px !important;
}

/* 切换动画开始 */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
  /* transform: translateX(10px); */
}
/* 切换动画结束 */

/* 改变开关样式 */
.el-switch__label.is-active {
  color: #303133;
}

.el-switch__label {
  color: #409EFF;
}
/* 改变开关样式 */

.el-dialog__header {
  box-shadow: 0 0 12px rgba(0,0,0,.1);
}

/* 让el-dialog滚动 */
/* .el-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 !important;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 30px);
  max-width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
}

.el-dialog__body {
  overflow: auto;
} */
/* 让el-dialog滚动 */

.box-card {
  line-height: 20px;
  font-size: 15px;
  text-align: left;
  /* margin-bottom: 20px; */
  box-sizing: border-box;
}

.el-pagination {
  margin-top: 10px;
}

.table-oper {
  height: 40px;
  /* width: 100%; */
}
.menu-btn {
  position: relative;
  /* width: 25px;
  height: 25px; */
  float: right;
}

.button-left {
  float: left;
}

.menu-btn:hover .menu-wrapper {
  display: block;
}

.menu-wrapper {
  display: none;
  position: absolute;
  width: 150px;
  top: 16px;
  right: 0;
  z-index: 9;
  background-color: #fff;
  font-size: 14px;
  padding: 4px 10px;
  user-select: none;
  border: 1px solid #e8eaec;
  text-align: left;
  overflow: auto;
  max-height: 200px
}

.checkbox-item {
  display: block;
  margin: 4px 0;
}

.icon-menu {
  width: 16px;
  height: 0px;
  display: inline-block;
  margin-bottom: 16px;
  box-shadow: 0 6px 0 2px #606266, 0 0 0 2px #606266, 0 12px 0 2px #606266;
}

.table-oper .el-button {
  padding: 8px 10px;
  margin-left: 5px;
}

.menu-btn:focus,
.menu-btn:active {
  color: #606266;
  border-color: #dcdfe6;
  background-color: #fff;
}

#export {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 10px 0;
}

#export li {
  line-height: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0 10px;
}

#export li:hover {
  background-color: #f2f2f2;
}

.el-select {
  width: 100%;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

#dialog .el-dialog {
  max-height: 670px;
}

.el-date-editor .el-range-separator {
  width: 10%;
}

.ql-container {
  min-height: 400px;
}

.el-menu-item, .el-submenu__title {
  height: 45px;
  line-height: 45px;
}
.vxe-table {
  line-height: 23px;
}
.el-submenu .el-menu-item {
  height: 40px;
  line-height: 40px;
}

.el-card:nth-last-child(1) {
  margin-bottom: 20px;
}
.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
}
.flex {
  flex: 1;
  min-width: 0;
  min-height: 0;
}
.flex2 {
  flex: 2;
  min-width: 0;
  min-height: 0;
}
.flex3 {
  flex: 3;
  min-width: 0;
  min-height: 0;
}
.flex4 {
  flex: 4;
  min-width: 0;
  min-height: 0;
}
.flex5 {
  flex: 5;
  min-width: 0;
  min-height: 0;
}
.el-table .primary-row {
  background: #F0F7FF;
  color: #909399;
  font-weight: 700;
}
.el-table .light,
.el-table .light th{
  background-color: #F0F7FF;
}